In [50]:
%%writefile mystory.txt
Once a upon there was a tiger named Jaonas ,he was living in the southwestern indian jungle 
AND IN THAT jungle there was panther named Bakheera was living in,they were both studying in the junior high of westren indian high school

Overwriting mystory.txt

In [3]:
pwd

'C:\\Users\\M Tahir Ismail\\Desktop\\python_deskscripts'

In [6]:
myfile = open('mystory.txt')

In [7]:
myfile.read()

'Once a upon there was a tiger named Jaonas ,he was living in the southwestern indian jungle \nAND IN THAT jungle there was panther named Bakheera was living in,they were both studying in the junior high of westren indian high schoo\n'

In [9]:
myfile.read()

''

In [15]:
myfile.seek(0)

0

In [20]:
myfile.close()

In [51]:
with open('mystory.txt',mode='a') as story:
    story.write("They both were in same class")
    
    story.seek(0)

In [52]:
with open('mystory.txt',mode='r') as story:
    print(story.read())

Once a upon there was a tiger named Jaonas ,he was living in the southwestern indian jungle
AND IN THAT jungle there was panther named Bakheera was living in,they were both studying in the junior high of westren indian high school
They both were in same class